[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-allauth = "==0.52.0"
djangorestframework = "==3.14.0"
django-rest-swagger = "==2.1.0"
django-widget-tweaks = "==1.4.1"
sparkpost = "==1.3.5"
"psycopg2-binary" = "==2.9.5"
elasticsearch = "==7.17.8"
elasticsearch-dsl = "==7.2.0"
django-elasticsearch-dsl = "==7.2.0"
django-elasticsearch-dsl-drf = "==0.22.5"
django-cors-headers = "*"
xmltodict = "==0.11.0"
requests = "==2.21.0"
Django = "==3.2"
django-filter = "*"
djangorestframework-simplejwt = {extras = ["crypto"], version = "*"}
dj-rest-auth = "*"
python-dotenv = "*"
marshmallow = "*"
sentry-sdk = "*"

[requires]
python_version = "3.10.4"
