{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MyQuotes</title>

    {% block css %}
        <!-- Bootstrap Core CSS -->
        <link href="{% get_static_prefix %}sb_admin/bower_components/bootstrap/dist/css/bootstrap.min.css"
              rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="{% get_static_prefix %}sb_admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="{% get_static_prefix %}sb_admin/dist/css/timeline.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% get_static_prefix %}sb_admin/dist/css/sb-admin-2.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="{% get_static_prefix %}sb_admin/bower_components/morrisjs/morris.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% get_static_prefix %}sb_admin/bower_components/font-awesome/css/font-awesome.min.css"
              rel="stylesheet">

        <link href="{% get_static_prefix %}css/global.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-93820008-1', 'auto');
    ga('send', 'pageview');
</script>

<div id="wrapper" ng-app="quotesApp">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'includes/topbar.html' %}
        {% include 'includes/sidebar.html' %}
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block title %}{% endblock %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /.row -->
    </div>
    <nav id="footer" class="navbar-default">
        {% include 'includes/footer.html' %}
    </nav>

</div>
<!-- /#wrapper -->

{% block js %}
    <!-- jQuery -->
    <script src="{% get_static_prefix %}sb_admin/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% get_static_prefix %}sb_admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% get_static_prefix %}sb_admin/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Flot Charts JavaScript -->
    <script src="{% get_static_prefix %}sb_admin/bower_components/flot/excanvas.min.js"></script>
    <script src="{% get_static_prefix %}sb_admin/bower_components/flot/jquery.flot.js"></script>
    <script src="{% get_static_prefix %}sb_admin/bower_components/flot/jquery.flot.pie.js"></script>
    <script src="{% get_static_prefix %}sb_admin/bower_components/flot/jquery.flot.resize.js"></script>
    <script src="{% get_static_prefix %}sb_admin/bower_components/flot/jquery.flot.time.js"></script>
    <script src="{% get_static_prefix %}sb_admin/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

    <script src="{% get_static_prefix %}sb_admin/bower_components/flot/excanvas.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% get_static_prefix %}sb_admin/dist/js/sb-admin-2.js"></script>

    <!-- Angular stuff -->
    <script src="{% get_static_prefix %}angular/angular.js"></script>
    <script src="{% get_static_prefix %}angular-resource/angular-resource.js"></script>
    <script src="{% get_static_prefix %}angular-route/angular-route.js"></script>

    <script src="{% get_static_prefix %}js/angular/module.js"></script>
    <script src="{% get_static_prefix %}js/angular/router.js"></script>
    <script src="{% get_static_prefix %}js/angular/services.js"></script>
    <script src="{% get_static_prefix %}js/angular/directives.js"></script>
    <script src="{% get_static_prefix %}js/angular/controllers.js"></script>
{% endblock %}

</body>
</html>
