{% extends 'layouts/default.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Quote  {% endblock %}

{% block content %}

    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ field.label }}: {{ field.errors|striptags }}</strong>
                </div>
            {% endif %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-8">
        <form method="post" action="{{ request.path }}" id="quote-form"> {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <div class="form-group">
                <div class="form-inline">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}:</label>
                    {{ form.title|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label for="{{ form.author.id_for_label }}">{{ form.author.label }}:</label>
                    {{ form.author|attr:"select2" }}
                    <label for="{{ form.source.id_for_label }}">{{ form.source.label }}:</label>
                    {{ form.source|add_class:"form-control"|attr:"placeholder:book/video/article" }}
                    <label for="{{ form.reference.id_for_label }}">{{ form.reference.label }}:</label>
                    {{ form.reference|add_class:"form-control"|attr:"placeholder:page/minute" }}
                </div>
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label for="{{ form.category.id_for_label }}">{{ form.category.label }}:</label>
                    {{ form.category|attr:"select2" }}
                    <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}:</label>
                    {{ form.tags|attr:"select2" }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.text.id_for_label }}">{{ form.text.label }}:</label>
                {{ form.text }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Save">
            </div>
        </form>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="{% get_static_prefix %}css/quote.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="{% get_static_prefix %}angular-busy/dist/angular-busy.js"></script>
{% endblock %}
