{% extends 'layouts/default.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="loader"></div>

    <div id="quotes-list" class="row" ng-controller="filterController" ng-init="init({{ object.id }})">
        {% if request.user.is_authenticated and not object %}
            <a href="" class="add-quote-icon" ng-click="setEditItem()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        {% endif %}
        <div id="filters" class="col-xs-12 col-md-3">
            {% include 'quotes/includes/quotes_sidebar.html' %}
        </div>
        <div id="filtered-content" class="col-xs-12 col-sm-6 col-md-8">
            {% include 'quotes/includes/quotes_filtered_result.html' %}
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% get_static_prefix %}angular-busy/dist/angular-busy.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
    <link href="{% get_static_prefix %}css/quote.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% get_static_prefix %}angular-busy/dist/angular-busy.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            setTimeout(function () {
                $("#loader").fadeOut("slow");
            }, 250)
        })
    </script>
{% endblock %}
