{% extends 'layouts/default.html' %}
{% load static %}

{% block title %}Quotes{% endblock %}

{% block content %}
    <div id="quotes-list" class="row" ng-controller="filterController">
        <div id="filters" class="col-xs-6 col-md-3">
            {% include 'quotes/includes/quotes_sidebar.html' %}
        </div>
        <div id="filtered-content" class="col-xs-12 col-sm-6 col-md-8">
            {% include 'quotes/includes/quotes_filtered_result.html' %}
        </div>
    </div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% get_static_prefix %}angular-busy/dist/angular-busy.css" rel="stylesheet" type="text/css">
    <link href="{% get_static_prefix %}css/quote.css" rel="stylesheet"/>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% get_static_prefix %}angular-busy/dist/angular-busy.js"></script>
{% endblock %}
