#cke_id_text {
  width: auto !important;
}

*:focus {
  outline: none !important;
}

.sm-form-control {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0 3px;
}

#page-wrapper {
  width: 100%;
  margin: 0;
}

.navbar-header {
  .sidebar-search {
    display: inline-block;
    width: 300px;
    padding: 7px;
  }
}

.add-quote-icon {
  span {
    font-size: 28px;
  }
}

#footer {
  p, span {
    color: #777;
  }

  .navbar-footer {
    padding: 20px 5px;
    text-align: center;
  }
}

@media all and (max-width: 768px) {
  .page-header {
    margin: 10px 0 8px;
    font-size: 30px;
  }

  .navbar-top-links {
    display: none;
  }

  .navbar-header {
    .sidebar-search {
      display: none;
    }
  }
}

@media all and (min-width: 768px) {
  .navbar-default {
    .navbar-header {
      width: 450px;
    }
    .sidebar {
      display: none;
    }
  }
}
