
*:focus {
    outline: none !important;
}

.grid-item {
    width: 250px;
}

.grid-item--width2 {
    width: 400px;
}

.page-header {
    margin: 10px 0 10px;
    display: inline-block;
}

.sm-form-control {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0 3px;
}

#page-wrapper {
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

.navbar {
    z-index: 1002;
}

.navbar .navbar-header .sidebar-search {
    display: inline-block;
    width: 300px;
    padding: 7px;
}

.add-quote-icon span {
    font-size: 28px;
}

.no-results {
    margin-top: 15px;
}

#footer p,
#footer span {
    color: #777;
}

#footer .navbar-footer {
    padding: 20px 5px;
    text-align: center;
}

input, button {
    z-index: 0 !important;
}

@media all and (max-width: 992px) {
    .page-header {
        margin: 10px 0 8px;
        font-size: 30px;
    }

    .navbar-top-links {
        display: none;
    }

    .navbar-header .sidebar-search {
        display: none !important;
    }
}

@media all and (min-width: 992px) {
    #content-wrapper {
        margin-top: 110px;
    }

    .navbar {
        position: fixed;
        width: 100%;
    }

    .page-header-row {
        position: fixed;
        z-index: 1000;
        width: 100%;
        background-color: white;
        top: 50px;
    }

    .navbar-default .navbar-header {
        width: 450px;
    }

    .navbar-default .sidebar {
        display: none;
    }

    .cg-busy.cg-busy-animation {
        position: fixed;
        top: 54px;
    }

    .cg-busy.cg-busy-animation .cg-busy-default-sign {
        left: 120px;
    }
}

@media all and (min-width: 768px) {
    .navbar-default .sidebar {
        display: none;
    }
}

.spinner {
    display: inline-block;
    margin: 0 15px;
}

.spinner svg {
    -webkit-animation: spinner-rotation 1.4s linear infinite;
    -o-animation: spinner-rotation 1.4s linear infinite;
    animation: spinner-rotation 1.4s linear infinite;
    stroke: #4285f4;
}

.spinner svg .circle {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    -webkit-animation: spinner-turn 1.4s ease-in-out infinite;
    -o-animation: spinner-turn 1.4s ease-in-out infinite;
    animation: spinner-turn 1.4s ease-in-out infinite;
}

.verses-wrapper {
    padding: 0 6px;
}

.verses-wrapper .verse {
    margin-bottom: 10px;
}

@-webkit-keyframes spinner-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-o-keyframes spinner-rotation {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes spinner-rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@-webkit-keyframes spinner-turn {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@-o-keyframes spinner-turn {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -o-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes spinner-turn {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        -o-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

.verses-wrapper {
    overflow-y: scroll;
    height: 500px;
}

.translation {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.translation-wrapper {
    height: 100%;
}

body, html {
    height: 100%;
    overflow-y: hidden;
}