{% extends 'layouts/default.html' %}
{% load static %}

{% block content %}
    {% verbatim %}
    <div class="col-lg-5" ng-controller="dashboardController">
        <div class="panel panel-default">
            <div class="panel-heading">
                Quotes by authors
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart" style="height: 300px">
                    <div ng-if="authors" class="flot-chart-content" pie-chart data="authors" id="flot-pie-chart"></div>

                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    {% endverbatim %}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% get_static_prefix %}angular-busy/dist/angular-busy.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% get_static_prefix %}angular-busy/dist/angular-busy.js"></script>
{% endblock %}
