#quote-form #id_title {
  min-width: 300px;
}
#quote-form #id_source {
  min-width: 180px;
}
#quote-form #id_author + span {
  min-width: 150px;
}
#quote-form #id_category + span {
  min-width: 150px;
}
#quote-form #id_tags + span {
  min-width: 300px;
}
#quotes-list {
  position: relative;
  margin-top: 130px;
}
#quotes-list .add-quote-icon {
  position: fixed;
  top: 68px;
  left: 222px;
}
#quotes-list #filtered-content {
  margin-left: 25%;
}
#quotes-list #filtered-content .list-group-item .visible-on-hover {
  display: none;
}
#quotes-list #filtered-content .list-group-item #edit-button {
  position: absolute;
  right: 35px;
  color: green;
}
#quotes-list #filtered-content .list-group-item #delete-button {
  position: absolute;
  right: 10px;
  color: red;
}
#quotes-list #filtered-content .list-group-item .author {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
#quotes-list #filtered-content .list-group-item .author.label-danger {
  background-color: rgba(217, 83, 79, 0.82);
}
#quotes-list #filtered-content .list-group-item:hover .visible-on-hover {
  display: block;
}
#quotes-list #filters {
  position: fixed;
}
#quotes-list #filters .panel {
  margin-bottom: 10px;
}
#quotes-list #filters .panel-heading {
  padding: 4px 15px;
}
#quotes-list #filters .panel-heading .panel-title {
  display: inline-block;
  cursor: pointer;
}
#quotes-list #filters .panel-body {
  padding: 8px;
  max-height: 182px;
  overflow-x: scroll;
}
#quotes-list #filters .list-group-item {
  padding: 5px 8px;
  overflow-y: auto;
}
#quotes-list #filters .list-group-item .text {
  padding: 1px 0;
  display: inline-block;
}
#quotes-list #filters .list-group-item .visible-on-hover {
  display: none;
}
#quotes-list #filters .list-group-item #remove-filter {
  font-size: 11px;
  color: red;
  cursor: pointer;
}
#quotes-list #filters .list-group-item:hover .visible-on-hover {
  display: inline-block;
}
.pagination-wrapper {
  float: right;
}
.pagination-wrapper .pagination {
  width: 100%;
}
.material-switch > input[type="checkbox"] {
  display: none;
}
.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
  margin-bottom: 3px;
}
.material-switch > label::before {
  background: #000000;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 14px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 37px;
}
.material-switch > label::after {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 22px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 22px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
@media all and (max-width: 768px) {
  .select2-container {
    width: 100% !important;
  }
  #quotes-list.row {
    margin: 0;
  }
  #quotes-list .add-quote-icon {
    top: -50px;
    left: 185px;
  }
  #quotes-list .panel {
    margin-bottom: 10px;
  }
  #quotes-list .panel .panel-heading {
    padding: 5px 15px;
  }
}
