{% verbatim %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" data-target="#categories-filter-body" aria-expanded="true" data-toggle="collapse">
            Categories</h3>
        <a href="" ng-click="setFilterType('categories')" ng-if="!user_id">
            <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="body-wrapper collapse" ng-class="{in: desktopView}" id="categories-filter-body">
        <div class="panel-body">
            <filter items="categories" type="categories"></filter>
        </div>
    </div>
</div>

<div class=" panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title" data-target="#authors-filter-body" data-toggle="collapse">Authors</h3>
        <a href="" ng-click="setFilterType('authors')" ng-if="!user_id">
            <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="body-wrapper collapse" ng-class="{in: desktopView}" id="authors-filter-body">
        <div class="panel-body">
            <filter items="authors" type="authors"></filter>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" data-target="#tags-filter-body" data-toggle="collapse">Tags</h3>
        <a href="" ng-click="setFilterType('tags')" ng-if="!user_id">
            <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="body-wrapper collapse" ng-class="{in: desktopView}" id="tags-filter-body">
        <div class="panel-body">
            <filter items="tags" type="tags"></filter>
        </div>
    </div>
</div>

<div class="modal fade" id="addFilterModal" tabindex="-1" role="dialog" aria-labelledby="addFilterModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form ng-submit="createFilter()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addFilterModalLabel">Add new <strong>{{ filterType }}</strong></h4>
                </div>
                <div class="modal-body">
                    <input name="Name" class="form-control" placeholder="Name" ng-model="filterData.name">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endverbatim %}
