{% verbatim %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" data-target="#categories-filter-body" aria-expanded="true" data-toggle="collapse">
            Categories</h3>
        <a href="" ng-click="setFilterType('categories')" ng-if="!readOnly">
            <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="body-wrapper collapse" ng-class="{in: desktopView}" id="categories-filter-body">
        <div class="panel-body">
            <filter items="categories" type="categories" class="filter filter-categories"></filter>
        </div>
    </div>
</div>

<div class=" panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title" data-target="#authors-filter-body" data-toggle="collapse">Authors</h3>
        <a href="" ng-click="setFilterType('authors')" ng-if="!readOnly">
            <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="body-wrapper collapse" ng-class="{in: desktopView}" id="authors-filter-body">
        <div class="panel-body">
            <filter items="authors" type="authors" class="filter filter-authors"></filter>
        </div>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" data-target="#tags-filter-body" data-toggle="collapse">Tags</h3>
        <a href="" ng-click="setFilterType('tags')" ng-if="!readOnly">
            <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
        </a>
    </div>
    <div class="body-wrapper collapse" ng-class="{in: desktopView}" id="tags-filter-body">
        <div class="panel-body">
            <filter items="tags" type="tags" class="filter filter-tags"></filter>
        </div>
    </div>
</div>

{% endverbatim %}
